[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:zenorocha/dracula-theme.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git@github.com:tpope/vim-markdown.git
